.top-header{
  background-image: url('images/carlo-alberto-burato-SMDX3gLEu_M-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top-header img
{
    
    width: 100%;
    height: 50%;
    z-index:-1;
    background-color: black
}



.topHeaderText{
  padding: 5em;
  height: 5%;
  color:white;
}

div.topHeaderText h1 {
  margin: 5%;
  font-weight: bold;
  font-size: 5em;
  
}

.sec-head{
  padding: 2em;
  font-size: 50px;
  text-align: center;
}
