.top-header{
}

.top-header img
{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index:-1;
    background-color: black
}



.topHeaderText{
  border-radius: 15px 50px 30px 5px;
  background-color: #ffffff;
  background: rgba(168, 50, 50, 0.6);

}

div.topHeaderText h1 {
  margin: 5%;
  font-weight: bold;
  color: white;
}
